.ui.container
  .timeline
    = react_component 'Blurts', {data: @blurts}

  %form.ui.reply.form
    .field
      %textarea
    .ui.blue.labeled.submit.icon.button
      %i.icon.edit 
      Post Blurt