/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

.tasks {
  padding: 5px 10px;
}

#follow {
  box-shadow: #ABA2A2 0px 2px 0px 0px;
}

// .ui.container {
//   border-left: 2px solid;
//   border-right: 2px solid;
// }

// .summary {
//   display: inline-block;
// }

.delete.blurt {
  // margin-left: 80%;
}

// .meta {
//   display: block;
// }

.ui.inline.nag {
  box-shadow: 0 4px 0 0 #414548;
}

.selected {
  color: red;
}

.ui.container {
  // background-color: yellow;
}

.ui.large.feed {
  text-align: center;
}

.timeline {
  margin-bottom: 20px;
  margin-top: 50px;
  .event:hover {
    padding: 6px;
  }
}

#post {
  box-shadow: 0 4px 0 0 #256398;
}